html,body {
  -webkit-writing-mode: vertical-rl;
  -epub-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

ol.toc {
  list-style-type: none !important;
  padding-left: 0;
}
ol.toc > li::marker {
  content: '' !important;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2, h3 {
  page-break-before: always;
  break-before: page;
  -epub-break-before: page;
}

img {
  page-break-before: auto;
  page-break-after: auto;
  break-before: auto;
  break-after: auto;
  max-width: 80%;
}
